html,
body {
    height: 100%;
}

body {
	overflow-x: hidden;
}

#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 38px; /* Width of image */
  height: 38px; /* Height of image */
  background: url(../images/top.avif) no-repeat;
}


/******** Slider ********/

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


#mainCarousel .slider_overlay {
    background: none repeat scroll 0 0 #252333;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

#mainCarousel .hero {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 1000;
    color: rgb(190, 20, 20);
    text-align: center;
    padding: 0 13%;
    font-family: 'NTR', sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#mainCarousel .hero h1 {
    font-size: 100px;
    margin: 0;
    padding: 0;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
}

#mainCarousel .hero h3 {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

#mainCarousel .hero button {
	margin-top: 30px;
	background: #060606;
	font-size: 20px;
	padding: 10px 20px;
	outline: none;
}

#mainCarousel .carousel-indicators {
	position: absolute;
	z-index: 1000;
}

#mainCarousel .carousel-control {
	position: absolute;
	z-index: 1000;
}

#mainCarousel .carousel-control.left {
	background-image: none;
}

#mainCarousel .carousel-control.right {
	background-image: none;
}

@media screen and (min-width: 768px) {
#mainCarousel .carousel-control .icon-next, #mainCarousel .carousel-control .icon-prev {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    font-size: 200px;
    margin-right: -100px;
    margin-left: -100px;
    color: #070808;
}
}

#mainCarousel .carousel-indicators .active {
    background: #080808;
    border: 1px solid #676869; 
}


/******** Media Queries ********/

@media screen and (max-width: 1071px) {
#mainCarousel .hero h1 {
	font-size: 70px;
}
}

@media screen and (max-width: 938px) {
#mainCarousel .hero h1 {
	font-size: 60px;
}
}

@media screen and (max-width: 799px) {
#mainCarousel .hero h1 {
	font-size: 60px;
}
}

@media screen and (max-width: 799px) {
#mainCarousel .hero h3 {
	font-size: 22px;
}
}

@media screen and (max-width: 608px) {
#mainCarousel .hero h1 {
	font-size: 50px;
}
}

@media screen and (max-width: 608px) {
#mainCarousel .hero h3 {
	font-size: 20px;
}
}

@media screen and (max-width: 507px) {
#mainCarousel .hero h1 {
	font-size: 45px;
}
}

@media screen and (max-width: 507px) {
#mainCarousel .hero h3 {
	font-size: 18px;
}
}

@media screen and (max-width: 400px) {
#mainCarousel .hero h1 {
	font-size: 40px;
}
}

@media screen and (max-width: 400px) {
#mainCarousel .hero h3 {
	font-size: 16px;
}
}

/******** About Section ********/

#about {
	padding-top: 40px;
	padding-bottom: 40px;
}

#about .text h2 {
	font-size: 28px;
	text-transform: uppercase;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: center;
}

#about .text p {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

#about .panel-group {
	margin-top: 30px;
}

#about .panel-heading:hover {
    cursor:pointer;
}

#about .panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

#about .side-tab:hover {
     cursor: pointer;
}
    
#about .panel.panel-default {
     border: none;
     box-shadow:blanchedalmond;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
        
}

#about .panel-heading {
     border: none;
     background-color: rgb(49, 48, 48);
     color: rgb(132, 13, 13);
}

#about .panel-title {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #070808;
    font-family: 'Noto Sans', sans-serif;
}
 
#about .panel-body {
	border-right: 1px solid #000001;
	border-left: 1px solid #282827d4;
	font-family: 'PT Sans', sans-serif;
  color:rgb(171, 165, 165);
}     

#about #carousel {
	margin-top: 30px;
	position: relative;
	display: block;
}

#about #carousel .item img {
	width: 100%;
}


/******** Features Section ********/




/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/******** Footer ********/


.footer {
	margin-top: 20px;
  	width: 100%;
  	height: 60px;
  	background-color:rgb(2, 7, 8);
  	text-align: center;
}

.footer .text-muted {
	padding: 20px;
	margin: 0px;
	color: #fff;
}
html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ecf0f9;
  background-attachment: fixed;
}

.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}
.heading:after {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  bottom: 0;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

